{% extends 'problem_solver/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h3>Нерешённые проблемы:</h3>
  {% for problem in problems %}
  <p>order id: {{ problem.order.id }}, {{ problem_verbose_name }}, {{ problem }}</p>
  <p>Ответственные:
    {% for worker in problem.order.workers.all %}
    {{ worker }} ({{ worker.position }}),
    {% endfor %}
  </p>
  <p></p>
  <p></p>
  <hr>
  {% endfor %}

  <h3>Заказы за последние сутки</h3>
  {% for order in orders %}
  <p>order id: {{ order.id }}, {{ order }}, время выполнения: {{ order.get_lead_time_seconds }} сек.</p>
  <p>время выполнения самого сложного блюда в соответсвии с нормами: {{ order.get_longest_cooking_dish.get_cooking_time_seconds }} сек.</p>
  <p></p>
  <hr>
  {% endfor %}
</div>
{% endblock %}
